.AppTextInputAction {
    background: var(--color-primary);

    border: 0;
    padding: 0;

    height: var(--app-text-input-height);
    width: var(--app-text-input-height);

    color: var(--color-white);

    cursor: pointer;
}

.AppTextInputAction:disabled {
    cursor: not-allowed;
}

