:root {
    --app-text-input-height: 40px;
}

.AppTextInput {
    height: var(--app-text-input-height);

    overflow: hidden;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;

    border: 2px solid var(--color-primary);
    border-radius: 4px;
}

.AppTextInput__input {
    flex-grow: 1;
    background: var(--color-slate-light);
    padding: 0 calc(var(--app-text-input-height) * 0.3);
    font-size: calc(var(--app-text-input-height) * 0.45);
    font-family: var(--brand-font);
    border: 0;
}

.AppTextInput__actions {
    display: flex;
    flex-direction: row;
}