.PaymentSuggestionsPage {
    height: 100vh;

    display: grid;
}

.PaymentSuggestionsPage__container {
    margin: 2rem;

    display: flex;
    flex-direction: column;
}

.PaymentSuggestionsPage__content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.PaymentSuggestionsPage__content > * {
    display: flex;
    flex-direction: column;
}

.PaymentSuggestionsPage__actions {
    margin-top: 2rem;
    align-self: center;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 800px) {
    .PaymentSuggestionsPage__actions {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

@media (min-width: 800px) {
    .PaymentSuggestionsPage__container {
        background: none;
        padding: 0;
    }

    .PaymentSuggestionsPage__content {
        flex-direction: row;
        gap: 40px;
    }
}

.PaymentSuggestionsPage__container {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
}

.PaymentSuggestionsPage__section-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.PaymentSuggestionsPage__section-title {
    font-family: var(--brand-font);
    color: var(--color-primary);
    margin: 0;
    font-size: 24px;
}

.PaymentSuggestionsPage__section-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.PaymentSuggestionsPage__field-wrapper {
    display: flex;
    flex-direction: column;
}

.PaymentSuggestionsPage__field-wrapper + .PaymentSuggestionsPage__field-wrapper {
    margin-top: 1rem;
}

.PaymentSuggestionsPage__field-wrapper .AppCustomSelect {
    flex-grow: 1;
}

.PaymentSuggestionsPage__payment-suggestion {
    padding: 1rem;
    background: var(--color-slate-light);
    display: flex;
    align-items: center;
}

.PaymentSuggestionsPage__payment-suggestion__part {
    background: #fff;
    margin: 0;
    border-radius: 8px;
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 0.65rem;
}

.PaymentSuggestionsPage__payment-suggestion__part--from {
    color: var(--color-negative);
}

.PaymentSuggestionsPage__payment-suggestion__part--to {
    color: var(--color-positive);
}

.PaymentSuggestionsPage__payment-suggestion__transfer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PaymentSuggestionsPage__payment-suggestion__amount {
    color: var(--color-green);
    background: #fff;
    border-radius: 8px;
    font-size: 1.15rem;
    padding: 0.25rem 0.65rem;
    z-index: 1;
    font-weight: bold;
    position: absolute;
}
