.PaymentSuggestionsPage {
    height: 100vh;

    display: grid;

}

.PaymentSuggestionsPage__container {
    margin: 1rem;
}

@media (min-width: 800px) {
    .PaymentSuggestionsPage {
        place-items: center;
    }
}
