.AppCustomButton {
    background: var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    --app-button-height: 30px;
    font-size: calc(var(--app-button-height) * 0.45);

    border: 0;
    border-radius: 4px;
    padding: calc(var(--app-button-height) * 0.215) calc(var(--app-button-height) * 0.475);

    color: var(--color-white);

    cursor: pointer;
}

.AppCustomButton--lg {
    --app-button-height: 40px;
}

.AppCustomButton:disabled {
    background: var(--color-gray-hard);
    color: var(--color-white);
    cursor: not-allowed;
}


