.CreateGroupPage {
    height: 100vh;

    display: grid;
    place-items: center;
}

.CreateGroupPage__container {
    /**/
}

@media (max-width: 800px) {
    .CreateGroupPage__container {
        height: 85vh;
    }
}

.CreateGroupPage__wrapper {
    display: grid;
    place-items: center;
    margin: 1rem;
}

.CreateGroupPage__heading, .CreateGroupPage__actions {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
}

.CreateGroupPage__image {
    width: 18rem;
}

.CreateGroupPage__title, .CreateGroupPage__subtitle, .CreateGroupPage__actions__cta {
    margin: 0;
    font-family: var(--brand-font);
    font-weight: normal;
    color: #000;
}

.CreateGroupPage__title {
    color: var(--color-primary);
    font-weight: normal;
    font-size: 44px;
}

.CreateGroupPage__heading {
    display: grid;
    place-items: center;
}

.CreateGroupPage__subtitle {
    text-align: center;
    max-width: 25ch;
}

.CreateGroupPage__actions {
    margin-top: 8vh;
}

.CreateGroupPage__actions__cta {
    font-size: 16px;
    margin-bottom: 0.85rem;
}

.CreateGroupPage__actions__error {
    color: var(--color-red);
    font-size: 0.85rem;
    margin-bottom: 0;
}